TrainingPortal/TrainingPortal.Web.Data/Connected Services/LessonService/LessonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LessonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51750/LessonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51750/LessonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51750/LessonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrainingPortal.Service.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILessonService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="ILessonService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="ILessonService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="ILessonService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="ILessonService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ILessonService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ILessonService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ILessonService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ILessonService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ILessonService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ILessonService">
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILessonService/GetList" message="tns:ILessonService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILessonService/GetListResponse" message="tns:ILessonService_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/ILessonService/Get" message="tns:ILessonService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILessonService/GetResponse" message="tns:ILessonService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ILessonService/Update" message="tns:ILessonService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILessonService/UpdateResponse" message="tns:ILessonService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ILessonService/Create" message="tns:ILessonService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILessonService/CreateResponse" message="tns:ILessonService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ILessonService/Delete" message="tns:ILessonService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILessonService/DeleteResponse" message="tns:ILessonService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILessonService" type="tns:ILessonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/ILessonService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/ILessonService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ILessonService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ILessonService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ILessonService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LessonService">
    <wsdl:port name="BasicHttpBinding_ILessonService" binding="tns:BasicHttpBinding_ILessonService">
      <soap:address location="http://localhost:51750/LessonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>