TrainingPortal/TrainingPortal.Web.Data/Connected Services/AudienceService/AudienceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrainingPortal.Service.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrainingPortal.Service.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAudienceDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AudienceDto" nillable="true" type="tns:AudienceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAudienceDto" nillable="true" type="tns:ArrayOfAudienceDto" />
  <xs:complexType name="AudienceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AudienceDto" nillable="true" type="tns:AudienceDto" />
</xs:schema>