TrainingPortal/TrainingPortal.Web.Data/Connected Services/TestService/TestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrainingPortal.Service.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrainingPortal.Service.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTestDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestDto" nillable="true" type="tns:TestDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestDto" nillable="true" type="tns:ArrayOfTestDto" />
  <xs:complexType name="TestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestDto" nillable="true" type="tns:TestDto" />
</xs:schema>