TrainingPortal/TrainingPortal.Client/Connected Services/LessonService/LessonService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrainingPortal.Service.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrainingPortal.Service.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLessonDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LessonDto" nillable="true" type="tns:LessonDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLessonDto" nillable="true" type="tns:ArrayOfLessonDto" />
  <xs:complexType name="LessonDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LessonDto" nillable="true" type="tns:LessonDto" />
</xs:schema>